* {
    box-sizing: border-box;
}

body {
    margin: 5px;
}


h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/* Board */

.board-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    column-gap: 1em;
    row-gap: 1em;
}

.board-item {
    background-color:aquamarine;
    width: clamp(200px, 85vw, 400px);
    
    padding: 5px;
    border-radius: 5px;
    ;
}

/* --- edit--- */

.task-edit {
    background-color: blanchedalmond;
    position: absolute;
    top: 20%;
    left: 10vw;
    /* left: 20vw; */
    z-index: 100;
    width: clamp(100px, 80vw, 600px );
    height: 500px;
    max-height: 50vh;
    display: block;
    padding: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    
}


.edit-task-form {
    /* position: fixed; */
    height: clamp(350px, 60vh, 600px);
    width:100%;
    /* flex-direction: column; */
    /* align-content: center; */
    
}


.task-edit label{
    display: block;
    font-size: smaller;
}


.new-task-form input, textarea{
    width: 80%;
}
.task-edit textarea{
    height: 100%;
    background-color: #c9c7c7;
    color: rgb(35, 35, 35);
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    transition: all 0.2s;
    outline: none;
}

.task-edit textarea:hover {
    background-color: #e0dfdf;
    color: black;
    
}

.task-edit textarea:focus {
    background-color: #f8f6f6;
    color: black;
    border-color: black;
    
}

.task-edit input{
    height: 100%;
    background-color: #c9c7c7;
    color: rgb(35, 35, 35);
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    transition: all 0.2s;
    outline: none;
}

.task-edit input:hover {
    background-color: #e0dfdf;
    color: black;
    
}

.task-edit input:focus {
    background-color: #f8f6f6;
    color: black;
    border-color: black;
    
}

.title-block {
    width: 100%;
}

.description-block {
    width: 100%;
    height: clamp(200px, 50%, 400px )
}

.close-button-edit {
    position: absolute;
    right: 10px;
}

.confirm-button-edit {
    position: absolute;
    right: 10px;
    bottom: 10px;
}



/* ---new task--- */


.new-task-container {
    margin: 5px;
}

.new-task-popup {
    background-color: blanchedalmond;
    position: absolute;
    top: 20%;
    left: 10vw;
    /* left: 20vw; */
    z-index: 100;
    width: clamp(100px, 80vw, 600px );
    height: 500px;
    max-height: 50vh;
    display: block;
    padding: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

.new-task-form label{
    display: block;
    font-size: smaller;
}

.close-button-new-task {
    position: absolute;
    right: 10px;
}

.confirm-button-new-task {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.new-task-form {
    height: clamp(350px, 60vh, 600px);
    width:100%;
}

.new-task-popup 


.new-task-form  textarea{
    height: 100%;
    background-color: #c9c7c7;
    color: rgb(35, 35, 35);
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    transition: all 0.2s;
    outline: none;
}

.new-task-form  textarea:hover {
    background-color: #e0dfdf;
    color: black;
    
}

.new-task-form  textarea:focus {
    background-color: #f8f6f6;
    color: black;
    border-color: black;
    
}

.new-task-popup  input{
    height: 100%;
    background-color: #c9c7c7;
    color: rgb(35, 35, 35);
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    transition: all 0.2s;
    outline: none;
}

.new-task-popup  input:hover {
    background-color: #e0dfdf;
    color: black;
    
}

.new-task-popup  input:focus {
    background-color: #f8f6f6;
    color: black;
    border-color: black;
    
}
